:root {
    --font-slab: 'Cutive Mono', monospace;
    --font-sans: 'Roboto Mono', monospace;
    --color-yellow: #eedb7e
}

*,
*::after,
*::before,
*:focus,
*:link,
*:active {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: var(--font-slab);
    font-size: 1.9rem;
    font-weight: bolder;
    line-height: 1.5;
    letter-spacing: -1.2px;
}

a {
    text-decoration: none;
    color: black;
}

.btn {
    font-family: inherit;
    padding: 0.7rem 1.6rem;
    font-size: inherit;
    font-weight: bolder;
    background-color: transparent;
    letter-spacing: inherit;
    border: 2px solid black;
    transition: background-color 0.1s;
}

.btn:hover {
    background-color: black;
    color: white;
}

.heading--primary {
    font-size: 7rem;
    font-weight: 400;
    line-height: 0.8;
    letter-spacing: -3px;
}

.heading--secondary {

}

.heading--tertiary {
    font-family: var(--font-sans);
    letter-spacing: 0.3px;
    font-weight: 300;
    font-size: 1.5rem;
}

/* NAV */

.nav {
    width: 100vw;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 10rem;
    background-color: var(--color-yellow);
}

.nav__logo {
    height: 25px;
    fill: black;
}

.nav__list {
    display: flex;
}

.nav__list__item {
    padding: 1px 0;
    margin-top: 5px;
    margin-right: 2.5rem;
}

.nav__list__item:hover {
    border-bottom: 2px solid black;
}

/* HEADER */

.header {
    width: 100%;
    padding: 10rem;
    background-color: var(--color-yellow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__img {
    width: 68vw;
}

.header__text-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10rem;
}

.header__text-box > * {
    width: fit-content;
}