:root {
    --color-blue: #C0E5FE;
    --color-font-gray: #949494;
    --font-thin: 300;
    --font-regular: 400;
    --font-bold: 800;
}

*,
*::after,
*::before,
*:focus,
*:link,
*:active {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: 'Gothic A1', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 300;
    color: black;
}

a {
    color: black;
}

.heading--primary {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.5;
    max-width: 60rem;
    position: relative;
}

.heading--primary::before {
    content: '';
    width: 18rem;
    height: 1px;
    background-color: var(--color-font-gray);
    position: absolute;
    top: -4rem;
    opacity: 0.5;
    left: 0;
}

.heading--secondary {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 1rem;
}

.description {
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.3;
}

.link {
    font-size: 1.3rem;
    font-weight: 300;
    transition: all 0.5s;
}

.link:hover {
    color: rgba(0, 0, 0, .35);
}

/**********************************/

/* HEADER */

.hero {
    height: 100vh;
    background-image: linear-gradient(to right, #00000025, #00000025), url('public/img/bensen-home-2545x1590px-4-4.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.nav {
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    color: white;
    font-size: 1.4rem;
    font-weight: var(--font-bold);
}

.logo {
    width: 4rem;
}

.logo--black {
    fill: black;
}

.logo--white {
    fill: white;
}

/* FOUNDED */

.founded {
    padding: 3rem;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}