:root {
    --color-blue: #C0E5FE;
    --color-font-gray: #949494;
    --font-thin: 300;
    --font-regular: 400;
    --font-bold: 800;
}

*,
*::after,
*::before,
*:focus,
*:link,
*:active {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: 'Gothic A1', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 300;
    color: black;
}

a {
    color: black;
}

.heading--primary {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.5;
    max-width: 58rem;
    position: relative;
}

.heading--primary::before {
    content: '';
    width: 18rem;
    height: 1px;
    background-color: var(--color-font-gray);
    position: absolute;
    top: -4rem;
    opacity: 0.5;
    left: 0;
}

.heading--secondary {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all 0.5s;
}

.heading--secondary:hover {
    opacity: 0.5;
}

.description {
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.link {
    font-size: 1.25rem;
    font-weight: 300;
    transition: all 0.5s;
    padding: 0.5rem 0;
    border-bottom: 1px solid black;
}

.link:hover {
    color: rgba(0, 0, 0, .35);
    border-bottom: 0px solid transparent;
}

.link--bot {
    font-size: 1.25rem;
    font-weight: 300;
    transition: all 0.5s;
}

.link--bot:hover {
    color: rgba(0, 0, 0, .35);
}

/**********************************/

/* HEADER */

.hero {
    height: 100vh;
    background-image: linear-gradient(to right, #00000025, #00000025), url('public/img/bensen-home-2545x1590px-4-4.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.nav {
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    color: white;
    font-size: 1.4rem;
    font-weight: var(--font-bold);
}

.logo {
    width: 4rem;
}

.logo--black {
    fill: black;
}

.logo--white {
    fill: white;
}

/* FOUNDED */

.founded {
    padding: 3rem;
    height: 50rem;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.founded h1 {
    grid-column: 1 / 2;
}

/* PRODUCTS */

.products {
    display: grid;
    padding: 3rem;
    width: 100%;
    grid-template-columns: repeat(3, calc((100% - 3rem) / 3));
    gap: 1.5rem;
}

.products__item__img {
    width: 100%;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.products__item p {
    max-width: 30rem;
}

/* GALLERY */

.gallery {
    padding: 3rem;
    width: 100%;
}

.gallery__slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.5rem;
}

.gallery__slider__img {
    width: 100%;
    cursor: crosshair;
}

.gallery__slider__controls {
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider-line {
    position: relative;
}

.slider-line:not(:last-child) {
    margin-right: 6rem;
}

.slider-line::before {
    content: '';
    width: 4rem;
    height: 1.2px;
    background-color: rgb(235, 235, 235);
    position: absolute;
    cursor: pointer;
}


.line-selected::before {
    background-color: var(--color-font-gray);
}

/* PHILOSOPHY */

.philosophy {
    padding: 3rem;
    height: 50rem;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.philosophy h1 {
    grid-column: 2 / 3;
}

/* PREVIEW */

.preview {
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.preview__img--1 {
    grid-column: 1 / 2;
    width: 100%;
}

/* PRODUCTS-2 */

.products__item--4 {
    grid-column: 2 / 3;
}

.products__item--5 {
    grid-column: 3 / 4;
}

/* PREVIEW-2 */

.preview--2 {
    gap: 1.5rem;
}

.preview__img--2 {
    grid-column: 1 / 2;
    width: 60%;
    justify-self: flex-end;
}

.preview__img--3 {
    grid-column: 2 / 3;
    width: 100%;
}

/* NAV BOT  */

.nav-bot {
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bot__list {
    display: flex;
    flex-direction: column;
}

.nav-bot__list > *:not(:last-child) {
    margin-bottom: .8rem;
}

.nav-bot--right {
    align-items: flex-end;
}