*,
*::after,
*::before,
*:focus,
*:link,
*:active {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5;
    letter-spacing: 1.1px;
}

h3 {
    font-weight: inherit;
    font-size: 2rem;
}

a {
    transition: all 0.3s;
}

a:hover {
    color: #000;
}

/* NAV */

.nav {
    position: fixed;
    display: flex;
    padding: 2.5rem 6.8rem;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    z-index: 999;
}

.nav__shop-hover {
    display: flex;
    position: absolute;
    top: 6rem;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    padding: 6rem 8.8rem 2rem;
    font-size: 1.3rem;
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0;
    max-height: 0;
}

.nav__list__item--shop:hover + .nav__shop-hover {
    display: flex;
    visibility: visible;
    opacity: 1;
    top: 6rem;
    max-height: 100vh;
}

.nav__shop-hover > * {
    list-style: none;
}

.nav__shop-hover > *:not(:last-child) {
    margin-right: 8rem;
}

.nav__shop-hover:hover {
    visibility: visible;
    opacity: 1;
    max-height: 100vh;
}

.nav__shop__link {
    color: #888;
}

.nav__shop__list > * {
    margin-bottom: 2rem;
}

.nav__shop__item > .nav__shop__link {
    text-transform: uppercase;
    color: #000;
    font-size: 1.1rem;
}

.nav__logo > svg {
    transform: scale(1.2);
    margin-left: -7rem;
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__list__item {
    padding: 1.5rem 2rem;
}

.nav__list__item img {
    height: 13px;
}

.nav__list__link {
    color: #888;
}

.nav__list > *:not(:last-child) {
    margin-right: 2rem;
}

.nav__list--left .nav__list__link:first-child {
    position: relative;
}

.nav__list--left .nav__list__link:first-child > svg {
    height: 1rem;
    position: absolute;
    top: 5px;
    left: 4.5rem;
    fill: #888;
}

/* HEADER */

.header {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent), url('public/img/F20-Winter-Sale-Hero-V1.jpg');
    height: 100vh;
    background-size: cover;
    background-position-y: 40%;
    position: relative;
    color: white;
    text-align: center;
}

.header__heading {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.header__heading > *:not(:last-child) {
    margin-bottom: 2rem;
}

/* GALLERY */

.section__gallery {
    padding: 3rem 2rem;
    display: flex;
    height: auto;
}

.section__gallery__image-box {
    position: relative;
}

.section__gallery__img {
    width: calc((100vw - 9rem) / 2);
    transition: all 0.2s;
    cursor: pointer;
}

.section__gallery__img--1 {
    margin-right: 3rem;
}

.section__gallery__img:hover {
    filter: brightness(0.9);
}

.section__gallery__image-text {
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.section__gallery__img:hover + .section__gallery__image-text {
    opacity: 1;
    visibility: visible;
    bottom: 7rem;
    pointer-events: none;
}

.section__gallery__image-text h3 {
    margin-bottom: 1rem;
}

/* SECTION ACCESSORY */

.section__accessory {
    height: 85vh;
    cursor: pointer;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent), url('public/img/F20_WH_Maple_Hero_5.jpg');
    background-size: cover;
    color: white;
    position: relative;
    text-align: center;
}

.section__accessory__text {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
}

.section__accessory__text h3 {
    margin-bottom: 3rem;
}

/* FOOTER */

.footer {
    padding: 7rem 8.8rem 5rem;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.footer__nav--bot {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer__nav--top {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 0;
}

.footer__nav__link {
    color: #888;
}

.footer__nav__social > *:not(:last-child) {
    margin-right: 3rem;
}

.footer__copyright {
    color: #888;
    font-size: 1.2rem;
}