*,
*::after,
*::before,
*:focus,
*:link,
*:active {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5;
    letter-spacing: 1.1px;
}

h3 {
    font-weight: inherit;
    font-size: 2rem;
}

/* NAV */

.nav {
    position: fixed;
    display: flex;
    padding: 3.6rem 8.8rem;
    width: 100vw;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 999;
}

.nav__logo > svg {
    transform: scale(1.2);
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__list__link {
    color: #888;
}

.nav__list > *:not(:last-child) {
    margin-right: 5rem;
}

.nav__list--left .nav__list__link:first-child {
    position: relative;
}

.nav__list--left .nav__list__link:first-child > svg {
    height: 1rem;
    position: absolute;
    top: 5px;
    left: 4.5rem;
    fill: #888;
}

/* HEADER */

.header {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent), url('public/img/F20-Winter-Sale-Hero-V1.jpg');
    height: 100vh;
    background-size: cover;
    background-position-y: 40%;
    position: relative;
    color: white;
    text-align: center;
}

.header__heading {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.header__heading > *:not(:last-child) {
    margin-bottom: 2rem;
}

/* GALLERY */

.section__gallery {
    padding: 3rem 2rem;
    display: flex;
    height: auto;
}

.section__gallery__image-box {
    position: relative;
}

.section__gallery__img {
    width: calc((100vw - 9rem) / 2);
    transition: all 0.2s;
    cursor: pointer;
}

.section__gallery__img--1 {
    margin-right: 3rem;
}

.section__gallery__img:hover {
    filter: brightness(0.9);
}

.section__gallery__image-text {
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.section__gallery__img:hover + .section__gallery__image-text {
    opacity: 1;
    visibility: visible;
    bottom: 7rem;
}

.section__gallery__image-text h3 {
    margin-bottom: 1rem;
}

/* SECTION ACCESSORY */

.section__accessory {
    height: 85vh;
    cursor: pointer;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent), url('public/img/F20_WH_Maple_Hero_5.jpg');
    background-size: cover;
    color: white;
    position: relative;
    text-align: center;
}

.section__accessory__text {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
}

.section__accessory__text h3 {
    margin-bottom: 3rem;
}