*,
*::after,
*::before,
*:active,
*:focus,
*:hover {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}

.logo {
    height: 25px;
    width: auto;
    fill: white;
}

/* reduced image sizes temporarily - will delete later */
img {
    width: 10%;
}

.btn {
    font-family: inherit;
    padding: 1.6rem 2.8rem;
    font-size: inherit;
    border-radius: 50px;
    background-color: white;
    color: #2f4a73;
    border: none;
    transition: all 0.5s;
}

.btn:hover {
    background-color: #fd6558;
    color: white;
    transform: scale(0.95);
}

.heading--primary {
    font-size: calc(2rem + 3vw);
    font-weight: 300;
}

.heading--secondary {
    font-size: calc(1.6rem + 1vw);
    font-weight: 300;
}

.heading--tertiary {
    font-size: calc(1.6rem + 1.2vw);
    font-weight: 500;
}


/* NAV */

.nav {
    position: fixed;
    width: 100%;
    padding: 0 8vw;
    background-color: transparent;
    transition: all 0.5s ease;
}

.nav--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255, 0.15);
    padding: 2.7rem 0;
}

.nav__list {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav__item {
    margin-right: 2rem;
}

.nav__link {
    color: white;
    text-decoration: none;
    font-size: inherit;
    transition: all 0.5s;
}

.nav__link:hover {
    color: #fd6558;
}

.nav__cta {
    margin-left: 6rem;
    background-color: #2f4a73;
    color: white;
}

/* HEADER */

.header__container {
    height: 100vh;
    width: 100%;
    padding: 0 8vw 10vh;
    background: url('public/img/https___ouraring.com_v3_images_01-hd.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    color: white;
}

.header__container > *:not(:last-child) {
    margin-bottom: 5rem;
}

.header__heading,
.header__description {
    max-width: 65rem;
}

.header__banner__controls {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 8rem;

}

.header__banner__controls__btn {
    text-decoration: none;
    color: white;
    padding: 2.7rem 3rem;
    border: 3px solid #fd6558;
    border-radius: 50%;
    font-size: 2rem;
    opacity: 0;
    transition: all 0.5s ease;
}

.header__container:hover > .header__banner__controls .header__banner__controls__btn{
    opacity: 1;
}

.header__banner__controls__btn--left {
    margin-right: 1rem;
    border: 3px solid #eee;
}

/* SECTION INTRODUCTION */

.section__introduction {
    background-color: #e5ded3;
    padding: 8vw 8vw 16vw;
    color: #2f4a73;
    position: relative;
}

.section__introduction__btn {
    color: white;
    background-color: #2f4a73;
}

.section__introduction__description {
    max-width: 35vw;
    line-height: 1.7;
    margin-bottom: 5rem;
}

.section__introduction__img-box {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
}

.section__introduction__image {
    height: auto;
    width: 25vw;
    margin-top: 10rem;
}

.section__introduction__image--left {
    margin-right: 5rem;
}

.section__introduction__cta {
    position: absolute;
    bottom: 10.5rem;
    left: 16vw;
}

/* SECTION MORE */

.section__more {
    background-color: #2f4a73;
    width: 100%;
    padding: 0;
    display: flex;
    color: white;
}

.section__more__container--right {
    display: flex;
    width: 50vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    padding: 5vw 5vw 0 8vw;
}

.section__more__container--right > *:not(:last-child) {
    margin-bottom: 3rem;
}

.section__more__heading {
    max-width: 30vw;
}

.section__more__image--left {
    width: 50vw;
}

.section__more__image--right {
    width: 28vw;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* SECTION ACCOLADES */

.section__accolades {
    width: 100%;
    padding: 8vw 16vw;
}

.section__accolades__nav {
    display: flex;
    flex-direction: column;
}

.section__accolades__heading {
    margin-bottom: 1rem;
}

.section__accolades__nav__count {
    color: #fd6558;
    font-weight: 500;
    margin-bottom: 5rem;
}

.section__accolades__quote {
    max-width: 65%;
    margin-bottom: 5rem;
}

.section__accolades__logo {
    width: 8rem;
}

/* SECTION BLOG */

.section__blog {
    background-color: #e5ded3;
    padding: 8vw;
    color: #2f4a73;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(7, calc(100% / 7));
    grid-template-rows: repeat(8, auto);
}

.section__blog__image {
    width: 100%;
    display: block;
}

.section__blog__link {
    text-decoration: none;
    color: #000;
}

.section__blog__link--title {
    grid-column: 5 / 7;
    /* grid-row: 4 / 5; */
}

.section__blog__article {
    border-bottom: 1px solid #000;
    width: 30vw;
}

.section__blog__article__details {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section__blog__heading {
    grid-column: 5 / -1;
}

.section__blog__article--1 {
    grid-column: 1 / 3;
    grid-row: 2;
}

.section__blog__article--2 {
    /* grid-row: 3; */
    grid-column: 5 / -1;
    margin-top: -35vw;
    margin-left: 16%;
}

.section__blog__article--3 {
    grid-column: 2;
    grid-row: 8;
    margin-top: -5vw;
}