*,
*::after,
*::before,
*:active,
*:focus,
*:hover {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}

.logo {
    height: 25px;
    width: auto;
    fill: white;
}

/* reduced image sizes temporarily - will delete later */
img {
    width: 10%;
}

.btn {
    font-family: inherit;
    padding: 1.6rem 2.8rem;
    font-size: inherit;
    border-radius: 50px;
    background-color: white;
    color: #2f4a73;
    border: none;
    transition: all 0.5s;
}

.btn:hover {
    background-color: #fd6558;
    color: white;
    transform: scale(0.95);
}

.heading--primary {
    font-size: 6.5rem;
    font-weight: 300;
}

.heading--secondary {
    font-size: 3rem;
    font-weight: 300;
}


/* NAV */

.nav {
    position: fixed;
    width: 100%;
    padding: 0 11rem;
    background-color: transparent;
    transition: all 0.5s ease;
}

.nav--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255, 0.15);
    padding: 2.7rem 0;
}

.nav__list {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav__item {
    margin-right: 2rem;
}

.nav__link {
    color: white;
    text-decoration: none;
    font-size: inherit;
    transition: all 0.5s;
}

.nav__link:hover {
    color: #fd6558;
}

.nav__cta {
    margin-left: 4rem;
    background-color: #2f4a73;
    color: white;
}

/* HEADER */

.header__container {
    height: 100vh;
    width: 100%;
    padding: 0 11rem;
    background: url('public/img/https___ouraring.com_v3_images_01-hd.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
}

.header__container > *:not(:last-child) {
    margin-bottom: 4rem;
}

.header__heading,
.header__description {
    max-width: 65rem;
}

.header__banner__controls {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 3rem;

}

.header__banner__controls__btn {
    text-decoration: none;
    color: white;
    padding: 2.7rem 3rem;
    border: 3px solid #eee;
    border-radius: 50%;
    font-size: 2rem;
    opacity: 0;
    transition: all 0.5s ease;
}

.header__container:hover > .header__banner__controls .header__banner__controls__btn{
    opacity: 1;
}

.header__banner__controls__btn--left {
    margin-right: 1rem;
}